---
import LayoutPage from "@/layouts/LayoutPage.astro";
import "@/styles/general.scss";
---

<LayoutPage>
    <main class="container"><img src="./src/assets/404.jpeg" alt="404 Not Found"></main>
</LayoutPage>